<h1><%= @artist.name %></h1>
<h3>
  <% @artist.genres.each do |genre| %>
  <p><a href="/genres/<%= genre.slug %>"><%= genre.name %></a></p>
  <% end %>
</h3>
<h3>

  <ul>
    <% @artist.songs.each do |song| %>
    <li><a href="/songs/<%= song.slug %>"><%= song.name %></a></li>
    <% end %>
  </ul>

</h3>
