<h1>Update Song</h1>
<h2><%= "Edits for #{@song.name}" %></h2>

<form action=<%="/songs/#{@song.slug}"%> method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label>Edit the Song's Name:</label>
    <br>
    <input type="text" name="Name" id="Name" value="<%= @song.name %>"/>
    <label>Edit the Artist's Name:</label>
    <br>
    <input type="text" name="Artist Name" id="Artist Name" value="<%= @song.artist.name %>"/>
    <br>

    <h3>Edit Genres</h3>
    <% @genres.each do |genre| %>
        <input type="checkbox" name="genres[]" id="<%= genre.name %>" value="<%= genre.id %>"><%= genre.name %><br>
    <% end %>



    <input type="submit" value="Save" id="Save"/>
</form>